*{
    background-color: rgb(82, 157, 255);
}

h1{
    justify-self: center;
    color: white;
    margin-top: 240px;
}
.container{
    background-color: rgba(255, 255, 255, 0.6);
    justify-self: center;
    
    max-width: 100%;
    width: 455px;
    padding: 10px;
    border-radius: 10px;
    
}

input{
    margin-bottom: 8px;
    width: 290px;
    padding: 14px;
    border-radius: 10px;
    background-color: white;
    
}

#calculate{
    background-color: yellow;
    padding: 12.5px;
    border-radius: 10px;
    max-width: 100%;
    width: 120px;
    border: none;
    margin-left: 8px;
    cursor: pointer;

}